.node {
  width: 15px;
  height: 15px;
}

.target {
  background-color: #9e2a2b;
}

.wall {
  background-color: darkslategrey;
}

.start {
  background-color: #3da971;
}

.visited {
  background-color: #52b2cf;
  animation: pop 0.3s linear 1;
}

.way {
  background-color: #ffd649;
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}
