.node {
  width: 15px;
  height: 15px;
}

.target {
  background-color: red;
}

.wall {
  background-color: black;
}

.start {
  background-color: green;
}

.visited {
  background-color: blue;
}

.way {
  background-color: yellow;
}
